spring:
  application:
    name: prolog-backend
  profiles:
    active: local
  config:
    import: optional:file:.env[.properties]
  jpa:
    properties:
      hibernate:
        format_sql: true
        highlight_sql: true

  data:
    redis:
      host: localhost
      port: 6379



jwt:
  secret: ${JWT_SECRET}
  access-exp: ${JWT_ACCESS_EXP}
  refresh-exp: ${JWT_REFRESH_EXP}